<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.40">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.8.4"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.8.4">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <org.jvnet.hudson.plugins.triggers.startup.HudsonStartupTrigger plugin="startup-trigger-plugin@2.9.3">
          <spec></spec>
          <label>jenkins_agent-1</label>
          <quietPeriod>0</quietPeriod>
          <runOnChoice>ON_CONNECT</runOnChoice>
        </org.jvnet.hudson.plugins.triggers.startup.HudsonStartupTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.90">
    <script>pipeline {
    agent { label &apos;jenkins_agent-1&apos; }
    stages {
        stage(&apos;clone&apos;) {
            steps {
                git url: &apos;https://github.com/dagere/demo-with-jenkinsfile&apos;
            }
        }
        stage(&apos;test&apos;) {
            steps {
                measure VMs: 2, iterations: 2, repetitions: 2, measurementMode: &apos;COMPLETE&apos;,
                useSampling: false, useSourceInstrumentation: false, warmup: 0
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
